.header {
  position: fixed;
  right: 50px;
  top: 50px;

  display: none;
  z-index: 100001;
}

.menu {
  width: 480px;
  height: 650px;
  background-color: var(--color-white);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.8rem;
  position: relative;
}

@media only screen and (max-width: 75em) {
  .header {
    display: block;
  }
}

@media only screen and (max-width: 46.25em) {
  .header {
    right: 30px;
    top: 30px;
  }
}

@media only screen and (max-width: 21.5em) {
  .header {
    right: 15px;
    top: 15px;
  }
}
