.inputContainer {
  position: relative;
  width: 100%;
}

.input,
.textarea {
  width: 100%;
  display: block;
  padding: 1.2rem 0;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  font-size: var(--font-size-paragraph-regular);
  color: var(--color-black);
  outline: none;
  font-family: inherit;
  font-weight: 300;
  border-radius: 0;
}

.textarea {
  resize: vertical;
  min-height: 4rem;
  font-family: inherit;
}

.input::placeholder,
.textarea::placeholder {
  color: #888;
  font-weight: 300;
}

/* The animated underline */
.underline {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--color-orange);
  transition: width 0.9s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 2;
}

.input:focus ~ .underline,
.textarea:focus ~ .underline {
  width: 100%;
}

.warning {
  color: red;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.input:disabled,
.select:disabled,
.textarea:disabled {
  cursor: not-allowed;
}

.buttonWrapper {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 3rem;
  justify-content: center;
  grid-column: 1/-1;
}

.warning {
  font-size: 1.6rem !important;
  /* font-weight: 500 !important; */
  color: var(--color-orange);
}

@media only screen and (max-width: 89.375em) {
  .form {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 61.25em) {
  .form {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 28.125em) {
  .form {
    max-width: 90%;
    overflow: hidden;
  }

  .select,
  .input {
    width: 100%;
  }

  .buttonWrapper {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
