.navContainer {
  position: fixed;
  top: 0rem;
  left: 0;
  width: 100%;
  transition: all 0.3s;
  display: grid;
  grid-auto-flow: column;
  justify-items: start;
  align-items: center;
  z-index: 1000;
  /* background-color: var(--color-white); */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.navigationList {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 1.2rem;
  width: max-content;
}

.authButtons {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo {
  width: 77px;
  height: 59px;
  cursor: pointer;
}

.dark {
  color: var(--color-white);
  background-color: transparent;
}

.whiteBg {
  background-color: var(--color-white);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

@media only screen and (max-width: 93.75em) {
  .navContainer {
    padding: 2rem 0rem;
  }

  .navigation {
    width: 100%;
  }
}

/* @media only screen and (max-width: 75em) {
  .navContainer {
    display: none;
  }
} */
