.button {
  /* font: inherit; */
  /* color: inherit; */
  text-decoration: none;
  padding: 1.25rem 2.25rem;
  border: none;
  background-color: transparent;
  /* border-radius: var(--border-radius-reg); */
  transition: all 0.35s cubic-bezier(0.25, 0.65, 0.76, 0.96);
  position: relative;
  font-size: 14px;
  z-index: 1;
  cursor: pointer;
}

.link-light {
  color: #555;
  font-size: var(--font-size-paragraph-regular);
  text-decoration: none;
  transition: color 0.3s ease-in;
  line-height: inherit;
  display: inline-block;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  font-weight: inherit;
}

.link-light:hover {
  color: var(--color-orange);
  scale: 1;
}

.link-light::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: var(--color-orange);
  transition: width 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.link-light:hover::after {
  width: 100%;
}

.icon {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.primary,
.primary-dark,
.secondary,
.tertiary,
.submit {
  /* padding: 1rem 1.4rem; */
  display: flex;
  align-items: center;
  gap: 1rem;

  background-size:
    100% 2px,
    0 2px;
  background-position:
    100% 100%,
    0 100%;
  background-repeat: no-repeat;
}

.secondary,
.submit {
  background-color: var(--color-orange);
  color: var(--color-white);
}

.tertiary {
  background-color: var(--color-white);
  color: var(--color-dark-brown);
}

.primary:hover,
.secondary:hover,
.tertiary:hover,
.submit:hover {
  scale: 1.04;
}

.submit {
  color: var(--color-white);
}

.primary:hover,
.secondary:hover,
.primary-dark:hover {
  color: var(--color-orange);
}

.tertiary:hover {
  color: var(--color-white);
}

.primary:hover::after,
.primary-dark::after,
.secondary:hover::after,
.tertiary:hover::after,
.submit:hover::after {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

.primary::after,
.primary-dark::after {
  background-color: var(--color-light-grey);
}

.secondary::after {
  background-color: var(--color-light-grey);
}

.submit::after,
.tertiary::after {
  background-color: var(--color-brown);
}

.primary::after,
.secondary::after,
.tertiary::after,
.submit::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 4px;
  z-index: -1;
  opacity: 0;
  transform: scaleX(0) scaleY(0);
  transition: all 0.35s cubic-bezier(0.25, 0.65, 0.76, 0.96);
  transform-origin: center;
}

.link-underline {
  border: 0;
  padding: 0;
  font-weight: 300;
}

.link-underline:hover {
  color: var(--color-orange);
  text-decoration: underline;
}

.link-dark-big {
  font-size: 2.8rem;
  display: block;
}

.link-dark {
  color: #ccc;
  font-size: inherit;
  text-decoration: none;
  transition: color 0.3s ease-in;
  line-height: inherit;
  display: inline-block;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  font-weight: inherit;
  position: relative;
}

.link-dark::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: var(--color-orange);
  transition: width 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.link-dark:hover::after {
  width: 100%;
}

.link-dark-big:hover {
  color: var(--color-orange);
}

.link-light-small {
  border-radius: 0;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;

  background-size:
    100% 2px,
    0 2px;
  background-position:
    100% 100%,
    0 100%;
  background-repeat: no-repeat;
  transition: all 400ms;
}

.link-light-small:hover {
  background-size:
    0 2px,
    100% 2px;
}

.link-light-small:hover {
  color: var(--color-orange);
}

.link-light-small {
  font-size: 1.4rem;
}

/*ACITVE CLASSES*/

.active-primary {
  background-color: var(--color-light-grey);
  color: var(--color-orange);
  border-radius: var(--border-radius-reg);
}

/* DISABLED STATE */
.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
  transition: none;
  background-color: var(--color-light-grey);
  color: var(--color-black);
}

.button:disabled:hover {
  scale: 1;
  color: inherit;
}
