.mainContainer {
  display: grid;
  row-gap: 3rem;
}

.headingContainer {
  display: grid;
  place-items: center;
  row-gap: 1.8rem;

  max-width: 80%;
  margin: auto;

  text-align: center;
}

.headingContainer h3,
.headingContainer p {
  text-align: center;
}

.headingContainer span {
  color: var(--color-orange);
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  align-items: center;
}

.image {
  width: 100%;
  height: auto;
}

.allFeatures {
  display: grid;
  row-gap: 1.8rem;
}

.feature {
  padding: 2rem 4rem;
  border-radius: 0.8rem;
  cursor: pointer;

  display: grid;
  row-gap: 0.8rem;
}

.active {
  background: rgba(204, 85, 0, 0.07);
}

.featureHeading {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.featureHeading svg {
  width: 2.4rem;
  height: 2.4rem;
  fill: var(--color-orange);
}

.newsletter {
  background-color: var(--color-brown);
  color: var(--color-white);

  max-width: 60%;
  margin: auto;
  padding: 6rem;
  border-radius: 0.8rem;

  display: grid;
  row-gap: 3rem;
}

.newsletter button {
  justify-self: center;
}

.newsletterHeading {
  max-width: 90%;
  margin: auto;
}

.newsletterHeading h3,
.newsletterHeading p {
  text-align: center;
}

.inputs {
  display: grid;
  row-gap: 1rem;
}

.names {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

@media (max-width: 72em) {
  .content {
    column-gap: 1.4rem;
  }

  .allFeatures {
    row-gap: 0.8rem;
  }

  .feature {
    padding: 2rem;
  }

  .newsletter {
    padding: 4rem;
  }
}

@media (max-width: 62em) {
  .content {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  .newsletter {
    max-width: 100%;
  }
}

@media (max-width: 37em) {
  .headingContainer {
    max-width: 100%;
  }

  .names {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 30em) {
  .newsletterHeading {
    max-width: 100%;
  }

  .newsletter {
    padding: 4rem 2rem;
  }
}
