.container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 4rem 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  max-width: 80rem;
  margin: 0 auto;
}

.subtitle {
  color: var(--color-orange);
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.description {
  color: #212121;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  width: 100%;
  margin: auto;
}

.card {
  background-color: var(--color-white);
  border-radius: 15px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cardHeader {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.number {
  width: 4.5rem;
  height: 4.5rem;
  background-color: var(--color-orange);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  font-size: 1.8rem;
  flex-shrink: 0;
}

.cardTitle {
  font-size: 20px;
  color: #212121;
  font-weight: 500;
}

.cardDescription {
  color: #616161;
  font-size: 16px;
  line-height: 28px;
  font-style: normal;
  font-weight: 400;
}

@media (max-width: 64em) {
  .cardsGrid {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

@media (max-width: 37.5em) {
  .card {
    padding: 2.4rem;
  }

  .cardTitle {
    font-size: 1.8rem;
  }
}
